*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
}

section {
  padding: 60px 0;
}

h2 {
  font-weight: 700;
}

footer {
  font-size: 0.9rem;
}

.about img {
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  background: #fff;
  padding: 10px;
}
 html {
  scroll-padding-top: 50px; /* Adjust to your navbar height */
}
